/* variables */
:root{
  --border: 2px solid grey;
}
input{
  padding: .5rem 1rem;
  outline: none;
}
button{
  outline: none;
  border: none;
  background-color: salmon;
  font-weight: bold;
  color: white;
}
/* all pages common */
#home-page,
#search-page,
#book-table-page,
#profile-container{
  padding: 0 1rem;
}

/* loader component */
#loader-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  inset: 0 0 0 0;
  background-color: #0000002f;
}
#loader-dialog{
  width: min(200px,35%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 0 10px #9c9c9c;
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
}
#loader-container #spinner{
  display: inline-block;
  width: 30px;
  aspect-ratio: 1;
  border: 4px solid #808080;
  border-top: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-right: 1rem;
  animation: loader .8s linear infinite;
}
@keyframes loader {
  0%{
    transform: rotateZ(0deg);
  }100%{
    transform: rotateZ(360deg);
  }
}

#header{
  position: sticky;
  z-index: 10000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
#header .logo{
  padding: 1rem;
}
#header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header nav a{
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  color: #333;
}

/* home page  */

/* profile page */

.booking-card {
  padding: 1rem;
  border: 2px solid lightgrey;
  border-radius: 1rem;
  margin: 1rem auto;
}
.booking-card span {
  line-height: 2rem;
}

/* login form */
#login-form{
  width: min(80%,500px);
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}
#login-form input,
#login-form button{
  display: block;
  width: inherit;
  padding: 1rem;
  border: var(--border);
  border-radius: 4px;
  margin: 1rem auto;
}
#login-form button{
  width: 50%;
  border: none;
}
/* search page */

#search-bar,
.table-details {
  width: 100%;
  display: grid;
  grid-template-columns: calc(60% - .25rem) calc(40% - .25rem);
  gap: .5rem;
  margin: .5rem auto;
}
#search-bar input{
  padding: 1rem;
  outline: none;
}
#search-bar input{
  width: 100%;
}
.option-button{
  position: relative;
  display: inline-block;
  margin: .5rem auto;
}
.option-button input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.option-button label{
  padding: .2rem 1rem;
  margin: .5rem;
  border-radius: .5rem;
  border: var(--border);
  background-color: #dddddd;
}
.option-button input:checked ~ label{
  background-color: #ffd3ce;
  border: 2px solid salmon;
  color: #f3402c;
}

/* search results */
.light-icon{
  color: gray;
  font-size: 14px;
}

.restaurant-card{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 16px #e4e4e4;
  text-decoration: none;
  color: black;
}
.restaurant-card .restro-img img{
  width: 80px;
  aspect-ratio: 1;
  object-fit: cover;
}
.restaurant-card .restaurant-name{
  font-size: 20px;
}
.restaurant-card .address,
#restaurant-page .address{
  font-size: 14px;
  font-weight: 500;
  color: grey;
  white-space: nowrap;
}

/* restaurant-page */
#restaurant-page {
  width: 100%;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../public/restaurant-default.jpg');
}
#restaurant-page .spacer{
  height: 25vh;
}
.restaurant-name {
  font-size: 18px;
  font-weight: bold;
}
#restaurant-sheet{
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 -6px 10px #00000033;
  background-color: white;
}
.restaurant-details {
  max-width: 56%;
  overflow: hidden;
  text-overflow: ellipsis;
}
#restaurant-sheet #book-table-btn {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  align-items: center;
}
#book-table-btn a,
.submit-btn{
  width: 100%;
  padding: .8rem 1rem;
  margin: 1rem auto;
  border: none;
  border-radius: .5rem;
  color: white;
  background-color: salmon;
  font-weight: 700;
  text-decoration: none;
}
#book-table-btn a {
  width: fit-content;
  margin-right: 0;
}
#menu-list{
  overflow-y: scroll;
  height: 50vh;
  padding: 0 .5rem;
}
  #menu-list::-webkit-scrollbar{
  width: 6px;
}
#menu-list::-webkit-scrollbar-thumb{
  background-color: #dddddd;
  border-radius: 10px;
}

.menu-item{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: .5rem;
  border-bottom: 1px solid lightgrey;
  font-size: 14px;
  padding: .5rem 0;
}
.menu-img img{
  width: 80px;
}

/* book-table-page */

#table-list{
  padding: .5rem 1rem;
}
.table-details .details-input {
  display: flex;
  flex-direction: column;
}
.date-time-input{
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
textarea#details {
  width: 100%;
}